.input-system-wrapper {
  font-size: 12px;
  color: #ccc;
  box-shadow: 1px 1px 1px #ffffff4d inset,
              1px 1px 1px #000;
  border-radius: 20px;
  align-items: center;
  background: #1b1b1b;
  width: 100%;
}

.header-row {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #CCC;
}

.input {
  background: #252525;
  border: 1px solid #444;
  border-radius: 15px;
  color: #ddd;
  padding: 5px 15px;
  box-shadow: inset 2px 2px 5px #000;
}
.currency {
  text-align: center;
  align-content: center;
}

.status-labels {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  font-size: 14px;
  font-weight: 900;

  .text-green {
    color: green;
    width: 33.333333%;
    text-align: center;
  }

  .text-red {
    color: red;
    width: 33.333333%;
    text-align: center;
  }

  .text-yellow {
    color: yellow;
    width: 33.333333%;
    text-align: center;
  }
}

.compute-btn {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  background: #222;
  border: 1px solid #444;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.compute-btn:hover { background: #333; }

.status-labels-container {
    display: flex;
    padding: 8px 16px;
    align-items: center;
}
