.select-system-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
}

.system-box {
  padding: 10px;
  font-size: 12px;
  color: #ccc;
  box-shadow: 1px 1px 1px #ffffff4d inset,
              1px 1px 1px #000;
  border-radius: 20px;
  align-items: center;
  background: #1b1b1b;
}

.select-system {
  display: flex;
  gap: 6px;

  &__select {
    height: 32px;
    padding: 0 12px;
    border-radius: 20px;
    background: #1b1b1b;
    color: #fff;
    border: none;
    outline: none;
    box-shadow:
      1px 1px 1px #ffffff4d inset,
      1px 1px 1px #000;
    cursor: pointer;
    margin: 0 auto;

    &:hover {
      background: #222;
    }

    &:focus {
      box-shadow: 0 0 0 1px #4caf50;
    }
  }
}

.select-system__select::-webkit-scrollbar {
  width: 6px;
}

.select-system__select::-webkit-scrollbar-track {
  background: #1b1b1b;
  border-radius: 4px;
}

.select-system__select::-webkit-scrollbar-thumb {
  background-color: #4caf4fa9;
  border-radius: 4px;
}
