.select-system {
  display: flex;
  gap: 6px;
  padding: 10px;
  font-size: 12px;
  color: #ccc;
  box-shadow:
    1px 1px 1px #ffffff4d inset,
    1px 1px 1px #000;
  border-radius: 20px;
  align-items: center;

  &__select {
    height: 32px;
    padding: 0 12px;
    border-radius: 20px;
    background: #1b1b1b;
    color: #fff;
    border: none;
    outline: none;
    box-shadow:
      1px 1px 1px #ffffff4d inset,
      1px 1px 1px #000;
    cursor: pointer;

    &:hover {
      background: #222;
    }

    &:focus {
      box-shadow: 0 0 0 1px #4caf50;
    }
  }
}


