* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  background-color: #212121;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}
